body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(90deg, rgba(53,150,65,1) 0%, rgba(169,104,51,1) 100%);
}

.header {
    color: #fff;
    font-size: 15rem;
}

.app {
    text-align: center;
    margin-top: 40px;
}

.app h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}
